body {
  background: #222;
  padding: 20px;
}

.container {
  max-width: 300px;
  margin: 0 auto;
  width: 90%;
}

.slick {
  background: #EFEFEF;
  padding: 20px;
  .slick-slide {
    outline: none !important;
    -webkit-backface-visibility: hidden !important;
    * {
      -webkit-backface-visibility: hidden !important;
    }
  }
}

.caption {
  text-align: center;
  padding: 10px 0 0 0;
  color: #000;
  margin: 0;
  font-size: 24px;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.slick-next {
  left: 105%;
}
.slick-prev {
  right: 105%;
}

.slick-dots {
  text-align: center;
  margin: 10px 0 0 0;
  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
  }
}